# 1.1.1 CSV文件

In [1]:
import csv

In [2]:
path = "/Python/数据准备和特征工程/第1章 感知数据/1.1 文件中的数据/data/data20465"
csv_file = path + "/cities.csv"
f = open(csv_file)

In [3]:
data = csv.reader(f)
for line in data:
    print(line)

['name', 'area', 'population', 'longd', 'latd']
['Nanjing', '6582.31', '8004680', '118.78', '32.04']
['Wuxi', '4787.61', '6372624', '120.29', '31.59']
['Xuzhou', '11764.88', '8580500', '117.2', '34.26']
['Changzhou', '4384.57', '4591972', '119.95', '31.79']
['Soochow', '8488.42', '10465994', '120.62', '31.32']
['Nantong', '8001', '7282835', '120.86', '32.01']
['Lianyungang', '7615.29', '4393914', '119.16', '34.59']
['Huaian', '9949.97', '4799889', '119.15', '33.5']
['Yancheng', '16972.42', '7260240', '120.13', '33.38']
['Yangzhou', '6591.21', '4459760', '119.42', '32.39']
['Zhenjiang', '3840.32', '3113384', '119.44', '32.2']
['Taizhou', '5787.26', '4618558', '119.9', '32.49']
['Suqian', '8555', '4715553', '118.3', '33.96']

In [4]:
import pandas as pd
df = pd.read_csv(csv_file)
df

           name      area  population   longd   latd
0       Nanjing   6582.31     8004680  118.78  32.04
1          Wuxi   4787.61     6372624  120.29  31.59
2        Xuzhou  11764.88     8580500  117.20  34.26
3     Changzhou   4384.57     4591972  119.95  31.79
4       Soochow   8488.42    10465994  120.62  31.32
5       Nantong   8001.00     7282835  120.86  32.01
6   Lianyungang   7615.29     4393914  119.16  34.59
7        Huaian   9949.97     4799889  119.15  33.50
8      Yancheng  16972.42     7260240  120.13  33.38
9      Yangzhou   6591.21     4459760  119.42  32.39
10    Zhenjiang   3840.32     3113384  119.44  32.20
11      Taizhou   5787.26     4618558  119.90  32.49
12       Suqian   8555.00     4715553  118.30  33.96

In [5]:
pd.read_csv?

In [6]:
pd.read_csv(csv_file, index_col=0)

                 area  population   longd   latd
name
Nanjing       6582.31     8004680  118.78  32.04
Wuxi          4787.61     6372624  120.29  31.59
Xuzhou       11764.88     8580500  117.20  34.26
Changzhou     4384.57     4591972  119.95  31.79
Soochow       8488.42    10465994  120.62  31.32
Nantong       8001.00     7282835  120.86  32.01
Lianyungang   7615.29     4393914  119.16  34.59
Huaian        9949.97     4799889  119.15  33.50
Yancheng     16972.42     7260240  120.13  33.38
Yangzhou      6591.21     4459760  119.42  32.39
Zhenjiang     3840.32     3113384  119.44  32.20
Taizhou       5787.26     4618558  119.90  32.49
Suqian        8555.00     4715553  118.30  33.96

# 项目案例

In [7]:
f = "/diabetes.csv"
diabetes = pd.read_csv(path + f)
diabetes.shape

(768, 9)

In [8]:
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [9]:
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [10]:
diabetes.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

# 动手练习